In [1]:
#Q1
myTuple = ("NPower","JDA","Tuesday",30,3,2021)

In [2]:
#Q2
type(myTuple)

tuple

In [3]:
#Q3
len(myTuple)

6

In [4]:
#Q4
for i in range(len(myTuple)):
    print(myTuple[i])

NPower
JDA
Tuesday
30
3
2021

In [5]:
#Q5
for i in range(-1, -len(myTuple)-1, -1):
    print(myTuple[i])

2021
3
30
Tuesday
JDA
NPower

In [6]:
#Q6
for i in range(len(myTuple)):
    print(type(myTuple[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
#Q7
name,program,dayName,month,day,year = myTuple
print(name,program,dayName,month,day,year)

NPower JDA Tuesday 30 3 2021

In [8]:
#Q8
myTuple2 = myTuple[0:3]
name,program,dayName = myTuple2
print(name,program,dayName)
print(month,day,year)

NPower JDA Tuesday
30 3 2021

In [10]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [11]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [12]:
#Q9
myTupleRev = tuple(reversed(myTuple))
myTupleRev

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [13]:
#Q10
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [14]:
#Q11
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [15]:
#Q12
print(nestedTuple)

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [16]:
#Q13
print(nestedTuple[1][1])

(2, 'Lists', 'Tuple')

In [17]:
#Q14
print(nestedTuple[1][1][1])

Lists

In [18]:
#Q15
print(nestedTuple[1][1][2])

Tuple

In [19]:
#Q16
print(nestedTuple[0][1])

course

In [20]:
#Q17
myTuple += nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [28]:
#Q18
myTuple += tuple(['Gabriel'])
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Gabriel',
 'Gabriel')

In [22]:
#Q19
Result = 'False'
if any('Coursera' in str(i) for i in myTuple):
    Result = 'True'
Result

'True'

In [23]:
#Q20
testTuple=(1,2,33,55,6,55)
55 in testTuple

True

In [25]:
#Q21
print(myTuple.index('JDA'))
print(myTuple.index('Coursera'))

1

ValueError: tuple.index(x): x not in tuple

In [24]:
#Q22
print(myTuple[8])

Gabriel

In [26]:
myTuple[3], myTuple[-4]

(30, 2021)

In [27]:
testTuple.count(55)

2