In [1]:
import pandas as pd
import numpy as np

In [8]:
excel_data = pd.read_excel('GoodBelly-DataSet.xlsx', 'Real Data')

In [15]:
df = pd.DataFrame(excel_data)

In [16]:
# 1 Find how many records this data frame has;
print(len(df))

1386

In [17]:
# 2 How many elements are there?
print(len(df.columns))

12

In [18]:
# 3 What are the column names?
print(df.columns)

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [29]:
# 4 What types of columns do we have in this data frame?
print(df.dtypes)

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                      float64
Endcap                         float64
Demo                           float64
Demo1-3                        float64
Demo4-5                        float64
Natural                        float64
Fitness                        float64
dtype: object

In [31]:
# 5 Give the summary for the numeric columns in the dataset
print(df.describe())
print(df.info())

        Units Sold  Average Retail Price    Sales Rep       Endcap  \
count  1386.000000           1386.000000  1386.000000  1386.000000
mean    253.820718              4.107093     0.549784     0.038240
std     110.998731              0.463828     0.497695     0.191843
min      47.559852              2.889286     0.000000     0.000000
25%     189.995471              3.775714     0.000000     0.000000
50%     236.735266              4.096667     1.000000     0.000000
75%     295.804391              4.425067     1.000000     0.000000
max    1041.200256              6.251538     1.000000     1.000000

              Demo      Demo1-3      Demo4-5      Natural      Fitness
count  1386.000000  1386.000000  1386.000000  1386.000000  1386.000000
mean      0.058442     0.156566     0.075758     1.448773     2.476190
std       0.234661     0.363522     0.264705     0.975092     1.592789
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     1.000000     1.000000
50%       0.000000     0.000000     0.000000     1.000000     2.000000
75%       0.000000     0.000000     0.000000     2.000000     4.000000
max       1.000000     1.000000     1.000000     4.000000     5.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1386 non-null   datetime64[ns]
 1   Region                1243 non-null   object
 2   Store                 1386 non-null   object
 3   Units Sold            1386 non-null   float64
 4   Average Retail Price  1386 non-null   float64
 5   Sales Rep             1386 non-null   float64
 6   Endcap                1386 non-null   float64
 7   Demo                  1386 non-null   float64
 8   Demo1-3               1386 non-null   float64
 9   Demo4-5               1386 non-null   float64
 10  Natural               1386 non-null   float64
 11  Fitness               1386 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 130.1+ KB
None

In [27]:
# 6 Calculate standard deviation for all numeric columns;
df.std()

C:\Users\Student236\AppData\Local\Temp\ipykernel_12636\1301530713.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

In [32]:
# 7 What are the mean values of the first 50 records in the dataset?   Hint: use head() method to subset the first 50 records and then calculate the mean
df.head(50).mean()

C:\Users\Student236\AppData\Local\Temp\ipykernel_12636\1155771948.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.head(50).mean()
C:\Users\Student236\AppData\Local\Temp\ipykernel_12636\1155771948.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64